# Python virtual environments
.venv/
venv/
env/
ENV/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific junk
.DS_Store
Thumbs.db